<md-dialog aria-label="Settings"  ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Settings</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="width:600px;max-height:400px; ">
    <div class="md-dialog-content">
      <md-input-container class="md-icon-float md-block">
        <label>Encrypt key</label>
        <md-icon class="material-icons">vpn_key</md-icon>
        <input ng-model="settings.key" type="password" md-autofocus aria-label="key" required>
      </md-input-container>
      <md-input-container md-no-float class="md-icon-float md-block">
        <label>Server URL</label>
        <md-icon class="material-icons">storage</md-icon>
        <input ng-model="settings.server" type="text" placeholder="http://localhost:9292" required>
      </md-input-container>
      <md-input-container md-no-float class="md-icon-float md-block">
        <label>Secret</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="settings.secret" type="text" placeholder="identity phase" required>
      </md-input-container>

    </div>
    <md-dialog-actions layout="row" layout-align="end end">
      <md-button ng-click="cancel()">CANCEL</md-button>
      <md-button class="md-accent" ng-click="confirm()">OK</md-button>
    </md-dialog-actions>
  </md-dialog-content>
</md-dialog>
